<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>Time:</b>
  <%= @event.event_time.strftime('%l:%M %p') %>
</p>

<table>
  <tr>
    <th>Date Option</th>
    <th>Current Votes</th>
  </tr>
  <% @event.votes.each do |v| %>
  <tr>
  <td><%= v.event_date %></td>
  <td><%= v.voters.count %></td>
  </tr>
  <% end %>

</table>

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
