<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @event.name %>
</p>

<p>
  <b>Location:</b>
  <%= @event.location %>
</p>

<p>
  <b>Address:</b>
  <%= @event.address %>
</p>

<p>
  <b>Time:</b>
  <%= @event.event_time.strftime('%l:%M %p') %>
</p>

<h3>Date Options</h3>
<table>
  <tr>
    <th>Date</th>
    <th>Current Votes</th>
    <th></th>
  </tr>
  <% @event.votes.each do |v| %>
  <tr>
  <td><%= v.event_date %></td>
  <td style="text-align: right"><%= v.voters.count %></td>
  <td>
  	<%= link_to "Vote", :controller => :votes, :id => v, :action => :cast, :user => params[:user] %>
  </td>
  </tr>
  <% end %>

</table>

<h3>Voters</h3>
<table>
  <tr>
    <th>Email</th>
    <th>Date Chosen</th>
  </tr>
  <% @event.voters.each do |v| %>
  <tr>
  <td><%= v.email[0,2]+'***@***'+v.email[-6,6]%></td>
  <td><%= v.vote.event_date if v.vote %></td>
  </tr>
  <% end %>

</table>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>
