<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @voter.email_scrubbed %>
</p>

<p>
  <b>Event:</b>
  <%= @voter.event.name %>
</p>

<p>
  <b>Vote:</b>
  <%= @voter.vote.event_date %>
</p>

<%= link_to 'Edit', edit_voter_path(@voter) %> |
<%= link_to 'Back', voters_path %>
